.form_body {
  display: flex;
  width: inherit;
  margin: 1rem 0.88rem 1.88rem 1rem;
  height: auto;
  padding: 1.3125rem 0.9375rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.375rem;
  background: var(--support-white, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.header-container {
  margin: 1.31rem 0rem;
  height: 5.88rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.form_title {
  margin: 0rem;
  align-self: stretch;
  color: var(--support-black, var(--colors-secondary-700, #1b2631));
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.form_text {
  margin: 0rem;
  align-self: stretch;
  color: var(--support-black, var(--colors-secondary-700, #1b2631));
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.form-container {
  width: inherit;
  height: 26.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.inputs {
  width: auto;
  height: 14.8rem;
  margin-bottom: 0.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.button {
  display: flex;
  padding: 0.75rem 1.875rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0.375rem;
  border: none;
  background: var(--primary-flame, #db0f3c);
  color: var(--support-white, #fff);
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
}

.wppIcon {
  color: var(--colors-secondary-700, #25d366);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.wppCheckBoxStyle {
  color: var(--support-black, var(--colors-secondary-700, #1b2631));
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.autorization {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
}

.autorizationTypography {
  margin: 0rem;
  align-self: stretch;
  color: var(--support-black, var(--colors-secondary-700, #1b2631));
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.check {
  display: flex;
  width: 1.125rem;
  height: 1.125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  border: 0.13rem solid var(--primary-flame, #db0f3c);
  background: var(--colors-primary-500, #db0f3c);
}

.checkbox {
  display: flex;
  height: 2.25rem;
  padding: 0.5625rem 0rem;
  align-items: flex-start;
  gap: 0.5625rem;
  align-self: stretch;
}

.checkImage {
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
}

.hide-original-inputs {
  display: none;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@media (min-width: 788px) {
  .form_body {
    width: 25vw;
  }
  .header-container {
    gap: 0.375rem;
    align-self: stretch;
    width: 25vw;
  }
  .form-container {
    width: inherit;
  }
  .inputs {
    width: inherit;
  }
  .autorization {
    width: inherit;
  }
}

/*# sourceMappingURL=Form.css.map */
